<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Toca dos lobos</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />


    <!-- Carregando BootStrap -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white" style="background-color: #78866b!important;">

        <div class="container-fluid p-2 ">

            <a class="navbar-brand" href="#">
                <img src="../img/logo_facebook.jpg" width="35px" height="35px" style="border-radius: 35px;" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="nav  text-white">
                    <li class="nav-item text-white">
                        <a class="nav-link active text-white" href="#">CAMPOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">EQUIPAMENTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">EQUIPES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">VALORES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">LOCALIZAÇÃO</a>
                    </li>

                </ul>
            </div>
        </div>

    </nav>
        <!-- particles.js container -->
        <section id="particles-js" style="min-height: 600px; background-color: black;">
            <section class=" text-center-page">
                <section class="row">
                    <section class="col-lg-12 text-center text-white">
                        <h1>bem-vindo guerreiro</h1>
                        <h5>Aqui a responsabilidade é por nossa conta e a diversão entregamos toda a vocês</h5>
                    </section>
                </section>
            </section>
        </section>
    
    
    <!-- <section class="row" style="--bs-gutter-x:0rem!important" >
        <section class="col-lg-12" style="background-image: url('../img/1385804.jpg');
        position        : bottom;
        color           : black;
        size            : cover;
        background-repeat: no-repeat;
        background-position: center ;
        min-height: 500px; ">
        
        </section>
    </section> -->
    <!-- <section class="row" style="--bs-gutter-x:0rem!important">
        <section class="col-lg-12">
            <section id="particles-js" ></section>
            <div class="text">
                <h1>Particles Background</h1>
                <p>Using <a href="https://github.com/VincentGarreau/particles.js/">ParticlesJS</a> and well.. that's
                    about
                    it, actually ¯\_(ツ)_/¯</p>
            </div>
             <section class="container text-center p-5" >
                <h1>Venha conferir a melhor toca do airosft</h1>
                <h3>Aqui a responsabilidade é nossa e a diversão é sua</h3>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae similique facilis deserunt quaerat
                    praesentium possimus harum vel quidem totam officiis ut qui molestias placeat id sed, nostrum
                    natus
                    repellat libero!</p>
            </section>
        </section>
    </section>
     <section class="row" style="--bs-gutter-x:0rem!important">
        <section class="col-lg-12">
            <div id="particles-js"></div>

            <div class="text">
                <h1>Particles Background</h1>
                <p>Using <a href="https://github.com/VincentGarreau/particles.js/">ParticlesJS</a> and well.. that's
                    about
                    it, actually ¯\_(ツ)_/¯</p>
            </div>
        </section>
    </section> -->
    <section class="row" style="min-height: 400px; --bs-gutter-x:0rem!important">
        <section class="col-lg-6 img-raposo">
            <section class="text-center mt-10 p-5 text-white">
                <h1>BASE RAPOSO</h1>
                <h3>VENHA CONFERIR NOSSOS CAMPOS ABERTO DE AIRSOFT, AQUI A DIVERSÃO É GARANTIDA
                    COM MUITO TIROTEIO E DIVERSOS CENÁRIOS DIFERENTES</h3>
                <button class="btn btn-sm btn-success" id="btnModal">Conferir</button>
            </section>
        </section>
        <section class="col-lg-6 img-cqb">
            <section class="text-center mt-10 p-5 text-white">
                <h1>Base CQB</h1>
                <h3>VENHA CONFERIR NOSSOS CAMPOS ABERTO DE AIRSOFT, AQUI A DIVERSÃO É GARANTIDA
                    COM MUITO TIROTEIO E DIVERSOS CENÁRIOS DIFERENTES</h3>
                <button class="btn btn-sm btn-success">Conferir</button>
            </section>
        </section>

    </section>

    <section class="row text-white" style="--bs-gutter-x:0rem!important; background-color: #3d3d3d;">
        <section class="col-lg-4  p-5 ">
            <h1>Equipe</h1>
            <h4>Venha conhecer nossa equipe totalmente qualificada aqui você vai contar com pessoas totalmente treinadas
                e qualificadas nossa equipe conta com:
            </h4>
            <input type="checkbox" checked disabled value="Bombeiros"><label>Bombeiros</label><br>
            <input type="checkbox" checked disabled value="Bombeiros">Enfermeiros<br>
            <input type="checkbox" checked disabled value="Bombeiros">Ranger<br>

        </section>
        <section class="col-lg-8 p-5">
            <!-- Gallery -->
            <div class="row" style="--bs-gutter-x:0rem!important">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
                        class="w-100 shadow-1-strong rounded mb-4" alt="" />

                    <img src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg"
                        class="w-100 shadow-1-strong rounded mb-4" alt="" />
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg"
                        class="w-100 shadow-1-strong rounded mb-4" alt="" />

                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
                        class="w-100 shadow-1-strong rounded mb-4" alt="" />
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                        class="w-100 shadow-1-strong rounded mb-4" alt="" />

                    <img src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg"
                        class="w-100 shadow-1-strong rounded mb-4" alt="" />
                </div>
            </div>
            <!-- Gallery -->
        </section>
    </section>
    <section class="row" style="background-image: url(../img/equipamentos.png); --bs-gutter-x:0rem!important">
        <section class="col-lg-8">
            <h1>Equipamentos</h1>
        </section>
        <section class="col-lg-2">
            <h1>Confira nossos equipamentos</h1><button class="btn btn-sm btn-danger">Clique aqui</button>
        </section>

    </section>
    <section class="row" style="--bs-gutter-x:0rem!important">
        <section class="container p-5">
            <section class="col-lg-12 text-center">
                <h1>fale conosco</h1>
                <img src="../img/logo_facebook.jpg" width="10%" style="border-radius: 35px;" alt="">
            </section>
            <section class="col-lg-12">
                <input type="text" name="" id="" placeholder="Nome">
                <input type="text" name="" id="" placeholder="E-mail">
                <textarea></textarea>
            </section>
        </section>
    </section>
    <footer style="background-color: black;" class="p-5">
        <section class="container">
            <div class="d-flex justify-content-center text-white flex-row bd-highlight ">
                <div class="p-2  bd-highlight" style="border-right: 1px solid white;">Contatos</div>
                <div class="p-2  bd-highlight" style="border-right: 1px solid white;">Campos<br>
                    Equipamentos<br>
                    VALORES<br>
                    LOCALIZAÇÃO<br></div>
                <div class="p-2  bd-highlight">Redes Sociais</div>
            </div>
            <div class="d-flex justify-content-center bd-highlight">
                <div class="p-2  bd-highlight">@ CopyRight</div>
            </div>
        </section>
    </footer>

    <div class="container">
        <div class="modal fade" id="myModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #000;">
                        <h5 class="modal-title" id="myModal">Execute Tech</h5>
                        <span aria-hidden="true">&times;</span>
                    </div>
                    <div class="modal-body" style="color: black!important;">
                        <h4>Parabéns Modal Simples concluída com sucesso</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Carregando JS -->

    <script src="../js/jquery-3.6.0.min.js"></script>

    <script src="../js/bootstrap.min.js"></script>

    <!-- scripts -->
    <script src="../js/particle_js/particles.js"></script>
    <script src="../js/particle_js/app.js"></script>

    <!-- stats.js -->
    <script src="../js/particle_js/lib/stats.js"></script>


    <script>
        $(document).ready(function () {
            particleJs.load('particles-js')
            $("#btnModal").click(function () {
                $('#myModal').modal('toggle');
            });
        });
    </script>
</body>

</html>